<h1>Rent-a-car</h1>
<div class="jumbotron text-center">
  <h2>Company which you can trust</h2>
  <h3>Solid brand with experience</h3>
  <form class="form-inline">
    <div class="side-div-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eaque eius illo illum ipsum laudantium nemo
        nostrum officia, pariatur repellendus repudiandae rerum totam vero vitae voluptate. Iusto molestias nulla
        qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam exercitationem id iste laboriosam
        laborum minima praesentium rem repudiandae sequi! Alias, autem consequatur deserunt explicabo impedit ipsam
        quaerat sapiente similique.</p>
    </div>
    <div class="side-div-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eaque eius illo illum ipsum laudantium nemo
        nostrum officia, pariatur repellendus repudiandae rerum totam vero vitae voluptate. Iusto molestias nulla
        qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam exercitationem id iste laboriosam
        laborum minima praesentium rem repudiandae sequi! Alias, autem consequatur deserunt explicabo impedit ipsam
        quaerat sapiente similique.</p>
    </div>
  </form>
</div>
