<div class="jumbotron text-center">
  <h1>Paulina Bury</h1>
  <h2>I'm working on this aplication</h2>
  <form class="form-inline">
    <div class="side-div-left">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eaque eius illo illum ipsum laudantium nemo
        nostrum officia, pariatur repellendus repudiandae rerum totam vero vitae voluptate. Iusto molestias nulla
        qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam exercitationem id iste laboriosam
        laborum minima praesentium rem repudiandae sequi! Alias, autem consequatur deserunt explicabo impedit ipsam
        quaerat sapiente similique.</p>
    </div>
    <div class="side-div-right">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eaque eius illo illum ipsum laudantium nemo
        nostrum officia, pariatur repellendus repudiandae rerum totam vero vitae voluptate. Iusto molestias nulla
        qui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam exercitationem id iste laboriosam
        laborum minima praesentium rem repudiandae sequi! Alias, autem consequatur deserunt explicabo impedit ipsam
        quaerat sapiente similique.</p>
    </div>
  </form>
</div>
