h1, h2 {
  text-align: left;
}
h1{
  padding-bottom: 10px;
}
h2{
  padding-bottom: 8px;
}
.side-div-left {
  float: left;
  width: 45%;
  margin-right: 5%;
  text-align: justify;
}
.side-div-right{
  width: 45%;
  margin-left: 5%;
  position: relative;
  text-align: justify;

}

