<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">This is my first Angular aplication. Thanks for visiting this page and supporting my growth.</p>
  <hr class="my-4">
  <p>If you are searching for more click below!</p>
  <p class="lead">
    <br>
    <a [routerLink]="['/', 'about']" class="cta">
      <span>more info</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
    <!--    <a class="btn" [routerLink]="['/', 'about']"  role="button">Learn more</a>-->
  </p>
</div>
