<h1 class="display-4">Welcome</h1>
<div class="jumbotron">
  <h1 class="lead">to Rent-a-car website.</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eius ex libero magni mollitia officiis saepe.
    Asperiores at, deserunt dolorem earum, explicabo minus mollitia neque nostrum praesentium quae reiciendis
    voluptate!</p>
  <hr class="my-4">
  <p>If you are searching for more click below!</p>
  <p class="lead">
    <br>

    <a [routerLink]="['about']" class="cta">
      <span>more info</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </p>
</div>
