<h1>lamborghini</h1>
<div class="jumbotron">
  <div class="car-egz">
    <h2 class="car">Lamborghini Aventador</h2>
    <img src="assets/lamborghini_aventador.png" width="200" alt="lamborghini aventador">
  </div>

  <div class="info-section">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut dicta et eum illo iusto maxime
      necessitatibus odio omnis, quis quos recusandae sunt voluptates voluptatum? Deleniti iste vel vero.</p>
    <a [routerLink]="['about']" class="cta">
      <span>more info</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </div>

  <div class="car-egz">
    <h2 class="car">Lamborghini Huricane</h2>
    <img src="assets/lamborghini_huricane.png" width="200" alt="lamborghini huricane">
  </div>

  <div class="info-section">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut dicta et eum illo iusto maxime
      necessitatibus odio omnis, quis quos recusandae sunt voluptates voluptatum? Deleniti iste vel vero.</p>
    <a [routerLink]="['about']" class="cta">
      <span>more info</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </div>


</div>
