<h1>Economy Cars</h1>

<div class="container">
  <div class="combi">
    <h2>combi models</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste suscipit, voluptatibus! Explicabo natus odit quam!
      Animi consequuntur delectus dolores ea, earum expedita illum iure obcaecati quibusdam, reprehenderit ut vel
      voluptatum!</p>
    <a [routerLink]="['/','eco-combi']" class="cta">
      <span>select</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>


  </div>

  <div class="small">
    <h2>small cars</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt distinctio iusto molestiae obcaecati rerum
      sequi suscipit ut vero voluptatum. Culpa fugiat ipsam modi neque nesciunt optio similique veniam voluptatum.</p>

    <a [routerLink]="['/','eco-combi']" class="cta">
      <span>select</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </div>

  <div class="family cars">
    <h2>family cars</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium adipisci aliquid architecto
      blanditiis, cumque delectus ipsam ipsum, laboriosam libero odio pariatur quae quia saepe sapiente tempore, ullam
      voluptas voluptates.</p>

    <a [routerLink]="['/','eco-combi']" class="cta">
      <span>select</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </div>
</div>
