/* You can add global styles to this file, and also import other style files */
h1 {
  font-family: 'Orbitron', sans-serif;
  color: #e9ecef;

}

h2, h3, p, a {
  font-family: "Arial", serif;

}

body {
  background-image: url("assets/background.jpg");
  opacity: 0.9 !important;
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbotron{
  padding-top: 20px;
}

@media only screen and (max-width: 1417px) {
  body {
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
  }
}

a {
  text-decoration: none !important;
  color: black !important;
  cursor: pointer;
}

.cta {
  position: relative;

  padding: 17px 20px;
  transition: all .2s;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background-color: rgba(255, 171, 157, .5);
  width: 56px;
  height: 56px;
  transition: all .3s ease;
}

span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 750;
  letter-spacing: .25em;
  text-transform: uppercase;
  vertical-align: middle;
}

svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all .3s ease;
}

.cta:hover:before {
  width: 100%;
  background: rgba(255, 171, 157, 1);
}

.cta:hover svg {
  transform: translateX(0px);
}


.cta:hover:active {
  transform: scale(.96);
}

.lead{
  color: black;
}









