<h1>Luxury cars</h1>
<div class="jumbotron">
  <div class="car">
    <h2>lamborgini</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, eum magni nostrum odio reiciendis vitae
      voluptas! Est et illum inventore magni molestias omnis quas quo, quod repellendus saepe ut veniam.</p>
    <a [routerLink]="['/','lamborgini']" class="cta">
      <span>select</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </div>
  <div class="car">
    <h2>porsche</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, eum magni nostrum odio reiciendis vitae
      voluptas! Est et illum inventore magni molestias omnis quas quo, quod repellendus saepe ut veniam.</p>
    <a [routerLink]="['/','lamborgini']" class="cta">
      <span>select</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </div>
  <div class="car">
    <h2>rolls royce</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, eum magni nostrum odio reiciendis vitae
      voluptas! Est et illum inventore magni molestias omnis quas quo, quod repellendus saepe ut veniam.</p>
    <a [routerLink]="['/','lamborgini']" class="cta">
      <span>select</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </div>
</div>
